@font-face {
  font-family: 'hhri';
  src: url('hhri.ttf?4cg1h6') format('truetype'), url('hhri.woff?4cg1h6') format('woff'), url('hhri.svg?4cg1h6#hhri') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.micl-window {
  max-inline-size: 1600px;
  margin-inline: auto;
  background: linear-gradient(to bottom, rgb(from var(--md-sys-color-surface) r g b / 0.7), var(--md-sys-color-surface))
}
.micl-body {
  flex-direction: column;
}
.micl-pane>.micl-pane__columns {
    column-gap: 64px;
}
.micl-pane>.micl-pane__columns>.micl-pane__column:first-of-type {
  flex: 1;
  max-inline-size: 50%;
  color: var(--md-sys-color-on-primary-container);
}
.micl-pane>.micl-pane__columns div.micl-pane__column:last-of-type {
  flex: 2;
  justify-content: flex-end;
  color: var(--md-sys-color-on-primary-container);
}
.micl-pane>.micl-pane__columns div.micl-pane__column h1 {
  margin-block: 24px;
}
.micl-pane>.micl-pane__columns div.micl-pane__column p {
  margin-block: 16px;
}

.icon-gbv_woman {
  font-family: 'hhri';
}
.icon-gbv_children {
  font-family: 'hhri';
}
.icon-gbv_men {
  font-family: 'hhri';
}
.icon-gbv_no {
  font-family: 'hhri';
}
