@font-face {
  font-family: 'hhri';
  src: url('hhri.ttf?4cg1h6') format('truetype'), url('hhri.woff?4cg1h6') format('woff'), url('hhri.svg?4cg1h6#hhri') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  max-inline-size: 1600px;
}
.micl-body {
  flex-direction: column;
  column-gap: 64px;
}
.micl-pane>.micl-pane__columns>.micl-pane__column {
  flex: 1;
  color: var(--md-sys-color-on-primary-container);
}
.micl-pane>.micl-pane__columns div.micl-pane__column:last-of-type {
  flex: 2;
  justify-content: flex-end;
}
.micl-pane>.micl-pane__columns div.micl-pane__column h1 {
  margin-block: 24px;
}
.micl-pane>.micl-pane__columns div.micl-pane__column p {
  margin-block: 16px;
}
