@font-face {
  font-family: 'hhri';
  src: url('hhri.ttf?4cg1h6') format('truetype'), url('hhri.woff?4cg1h6') format('woff'), url('hhri.svg?4cg1h6#hhri') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.micl-window {
  --hhri-card-width: calc((1600px - var(--md-sys-layout-pane-spacer) - (2 * var(--md-sys-layout-window-margin)) - (4 * var(--md-sys-card-margin, 0px))) / 5);
  max-inline-size: 1600px;
  margin-inline: auto;
}
.micl-pane:last-of-type {
  min-inline-size: var(--hhri-card-width);
}

/*
  Icons are stored in the hhri.ttf font file.
*/
.hhri-icon {
  font-family: 'hhri';
}

/*
  Style adjustments to the main menu that is displayed inside a Navigation Rail component.
  The menu items are buttons that act as navigational links.
*/
.micl-navigationrail {
  p {
    margin-block: 24px 8px;
  }
  .micl-button-text-s {
    inline-size: 100%;
    justify-content: start;
    margin-block: 4px;
    font-weight: normal;
    text-align: start;
  }
  .micl-button__icon.hhri-icon {
    font-weight: bold;
  }
}

/*
 Styles for the "On This Page" box that displays anchor links to paragraphs on the page.
*/
.hhri-onpage {
  position: fixed;
  display: flex;
  box-sizing: border-box;
  flex-flow: column;
  inline-size: var(--hhri-card-width);
  row-gap: 24px;
  margin-top: 48px;
  padding: 32px 16px;
  border-radius: 12px;
  background-color: var(--md-sys-color-tertiary-container);

  a, p {
    margin: 0;
    color: var(--md-sys-color-on-tertiary-container);
  }
  a:not(:hover) {
    text-decoration: none;
  }
}

/*
 The footer appears on every page.
*/
footer {
  display: flex;
  flex-flow: row;
  column-gap: 96px;
  padding-block: 48px 24px;
  color: var(--md-sys-color-on-surface);

  @media (max-width: 599px) {
    flex-flow: column;
  }

  &> div:first-of-type {
    margin-block-end: 24px;
  }
  &> div:last-of-type {
    min-inline-size: 40%;
  }
  p {
    margin: 0;
  }
  .hhri-socials {
    display: flex;
    margin-inline-start: -12px;

    a {
      align-content: center;
      font-family: 'hhri';
      font-size: 32px;
      text-decoration: none;
      text-align: center;
    }
  }
}
