/*
 Use smooth scrolling when jumping to page anchors.
 */
html {
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/*
 Limit the total width of pages to 1599px. Derive the default card width from this width.
*/
.micl-window {
  --hhri-card-width: calc((1599px - var(--md-sys-layout-pane-spacer) - (2 * var(--md-sys-layout-window-margin)) - (3 * var(--md-sys-card-margin, 0px))) / 5);
  max-inline-size: 1599px;
  margin-inline: auto;
}
.micl-pane:last-of-type {
  min-inline-size: var(--hhri-card-width);
}

/*
  Icons are stored in the hhri.ttf font file.
*/
@font-face {
  font-family: 'hhri';
  src: url('hhri.ttf?4cg1h6') format('truetype'), url('hhri.woff?4cg1h6') format('woff'), url('hhri.svg?4cg1h6#hhri') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.hhri-icon {
  font-family: 'hhri';
}

/*
  Adjustments to the main menu that is displayed inside a Navigation Rail component.
*/
.micl-navigationrail__content {
  h6 {
    margin-block: 24px 8px;
    color: var(--md-sys-color-on-surface-variant);

    &:first-of-type {
        margin-block-start: 0;
    }
  }
  .hhri-icon {
    font-weight: bold;
  }
}

/*
  The first <header> on a page contains the App Bar, the second the page title and icon.
*/
header:not(.micl-appbar) {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-block-end: 48px;
  color: var(--md-sys-color-on-surface);

  @media (max-width: 600px) {
    flex-direction: column;
  }

  h1 {
    margin-block: 0 16px;
  }
  .hhri-icon {
    font-size: 128px;
  }
}

/*
 Styles for the side-menu that displays links to detailed topics.
*/
.hhri-sidemenu {
  position: fixed;
  display: flex;
  box-sizing: border-box;
  flex-flow: column;
  inline-size: var(--hhri-card-width);
  max-block-size: calc(100vh - 96px);
  row-gap: 24px;
  margin-top: 48px;
  padding: 32px 0;
  border-radius: var(--md-sys-shape-corner-medium);
  background-color: var(--md-sys-color-tertiary-container);

  h3 {
    padding-inline: 16px;
    margin: 0;
    color: var(--md-sys-color-on-tertiary-container);
  }
  .micl-list {
    --md-sys-list-item-one-height: 48px;
    --md-sys-list-item-container-color: var(--md-sys-color-tertiary-container);

    .micl-list-item__headline {
      color: var(--md-sys-color-on-tertiary-container);
    }
    .hhri-submenuitem {
      padding-inline-start: var(--md-sys-padding-m);

      .micl-list-item__headline {
        font-family: var(--md-sys-typescale-body-medium-font);
        font-size: var(--md-sys-typescale-body-medium-size);
        line-height: var(--md-sys-typescale-body-medium-line-height);
        font-weight: var(--md-sys-typescale-body-medium-weight);
        letter-spacing: var(--md-sys-typescale-body-medium-tracking);
      }
    }
  }
}

/*
 A Markdown list with two items (an image and a text block) are displayed next to each other.
*/
ul:has(img) {
  display: flex;
  flex-flow: row;
  column-gap: 48px;
  margin-block: 0;
  padding: var(--md-sys-padding-m);
  border-radius: var(--md-sys-shape-corner-medium);
  list-style: none;
  background-color: var(--md-sys-color-secondary-container);

  @media (max-width: 599px) {
    flex-flow: column;
  }

  > li {
    flex: 4;
    color: var(--md-sys-color-on-secondary-container);

    p {
      margin-block: var(--md-sys-padding-m);
    }
  }
  > li:has(img) {
    flex: 5;

    img {
      max-inline-size: 100%;
    }
    p {
      margin: 0;
    }
  }
}

/*
 The footer appears on every page.
*/
footer {
  display: flex;
  flex-flow: row;
  column-gap: 96px;
  padding-block: 48px 24px;
  color: var(--md-sys-color-on-surface);

  @media (max-width: 599px) {
    flex-flow: column;
  }

  &> div:first-of-type {
    margin-block-end: 24px;
  }
  &> div:last-of-type {
    min-inline-size: 40%;
  }
  p {
    margin: 0;
  }
  .hhri-socials {
    display: flex;
    margin-inline-start: -12px;

    a {
      font-family: 'hhri';
      font-size: 32px;
    }
  }
}
