html {
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/*
 Limit the total width of pages to 1600px. Derive the default card width from this.
*/
.micl-window {
  --hhri-card-width: calc((1600px - var(--md-sys-layout-pane-spacer) - (2 * var(--md-sys-layout-window-margin)) - (3 * var(--md-sys-card-margin, 0px))) / 5);
  max-inline-size: 1600px;
  margin-inline: auto;
}
.micl-pane:last-of-type {
  min-inline-size: var(--hhri-card-width);
}

/*
  Icons are stored in the hhri.ttf font file.
*/
@font-face {
  font-family: 'hhri';
  src: url('hhri.ttf?4cg1h6') format('truetype'), url('hhri.woff?4cg1h6') format('woff'), url('hhri.svg?4cg1h6#hhri') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.hhri-icon {
  font-family: 'hhri';
}

/*
  Adjustments to the main menu that is displayed inside a Navigation Rail component.
*/
.micl-navigationrail {
  p {
    margin-block: 24px 8px;
  }
  .hhri-icon {
    font-weight: bold;
  }
}

/*
 Styles for the "On This Page" box that displays anchor links to paragraphs on the page.
*/
.hhri-onpage {
  position: fixed;
  display: flex;
  box-sizing: border-box;
  flex-flow: column;
  inline-size: var(--hhri-card-width);
  row-gap: 24px;
  margin-top: 48px;
  padding: 32px 16px;
  border-radius: var(--md-sys-shape-corner-medium);
  background-color: var(--md-sys-color-tertiary-container);

  a, p {
    margin: 0;
    color: var(--md-sys-color-on-tertiary-container);
  }
  a:not(:hover) {
    text-decoration: none;
  }
}

/*
 A Markdown list with two items (an image and a text block) are displayed next to each other.
*/
ul:has(img) {
  display: flex;
  flex-flow: row;
  column-gap: 48px;
  margin-block: 48px;
  padding: var(--md-sys-padding-m);
  border-radius: var(--md-sys-shape-corner-medium);
  list-style: none;
  background-color: var(--md-sys-color-secondary-container);

  @media (max-width: 599px) {
    flex-flow: column;
  }

  > li {
    flex: 4;
    padding-block-start: 24px;
    color: var(--md-sys-color-on-secondary-container);

    p {
      margin-block: var(--md-sys-padding-m);
  }
  > li:has(img) {
    flex: 5;
    padding-block-start: 0;

    img {
      max-inline-size: 100%;
    }
  }
}

/*
 The footer appears on every page.
*/
footer {
  display: flex;
  flex-flow: row;
  column-gap: 96px;
  padding-block: 48px 24px;
  color: var(--md-sys-color-on-surface);

  @media (max-width: 599px) {
    flex-flow: column;
  }

  &> div:first-of-type {
    margin-block-end: 24px;
  }
  &> div:last-of-type {
    min-inline-size: 40%;
  }
  p {
    margin: 0;
  }
  .hhri-socials {
    display: flex;
    margin-inline-start: -12px;

    a {
      font-family: 'hhri';
      font-size: 32px;
    }
  }
}
