.micl-body {
  flex-direction: column;
  row-gap: 96px;
}

.micl-card__headline-s .micl-heading {
  white-space: normal;
  color: var(--md-sys-color-on-secondary-container);
  font-family: var(--md-sys-typescale-emphasized-title-large-font);
  font-size: var(--md-sys-typescale-emphasized-title-large-size);
  line-height: var(--md-sys-typescale-emphasized-title-large-line-height);
  font-weight: var(--md-sys-typescale-emphasized-title-large-weight);
  letter-spacing: var(--md-sys-typescale-emphasized-title-large-tracking);
}

header.hhri-title.micl-pane__columns {
  column-gap: 64px;

  &> .micl-pane__column:first-of-type {
    flex: 1;
    max-inline-size: 50%;
    color: var(--md-sys-color-on-primary-container);
  }
  &> .micl-pane__column:last-of-type {
    flex: 2;
    justify-content: flex-end;
    color: var(--md-sys-color-on-primary-container);
  }
  h1 {
    margin-block: 24px;
  }
  p {
    margin-block: 16px;
  }
}

.micl-pane:has(.hhri-news-section) {
  row-gap: 48px;

  &> .micl-card-filled {
    padding-block-start: 16px;
    background-color: var(--md-sys-color-secondary-container);

    h2,
    .micl-card__supporting-text,
    .micl-list-item__headline,
    .hhri-icon {
      color: var(--md-sys-color-on-secondary-container);
    }
    .micl-list {
      --md-sys-list-item-container-color: transparent;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    
      .hhri-icon {
        font-size: 56px;
      }
    }
  }
}

/**
 * The container that shows the latest news items.
 */
.hhri-news-section {
  display: flex;

  @media (max-width: 600px) {
    flex-direction: column;
  }

  &> div {
    flex: 1;
    background-color: var(--md-sys-color-tertiary-container);
  }
  h2 {
    white-space: normal;
    color: var(--md-sys-color-on-tertiary-container);
    font-family: var(--md-sys-typescale-emphasized-title-medium-font);
    font-size: var(--md-sys-typescale-emphasized-title-medium-size);
    line-height: var(--md-sys-typescale-emphasized-title-medium-line-height);
    font-weight: var(--md-sys-typescale-emphasized-title-medium-weight);
    letter-spacing: var(--md-sys-typescale-emphasized-title-medium-tracking);
  }
  .micl-card__supporting-text,
  .micl-card__content {
    color: var(--md-sys-color-on-tertiary-container);
  }
}
