.hhri-manual {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  background-color: inherit;

  .hhri-manual__intro {
    max-inline-size: 839px;
    padding: var(--md-sys-padding-m);
    border-radius: var(--md-sys-shape-corner-medium);
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface);
  }
}

/**
 * The container that different publications for a manual.
 */
.hhri-manual-publications {
  display: flex;
  gap: 8px;

  &> div {
    flex: 1;
    padding-block-start: 16px;
    background-color: var(--md-sys-color-tertiary-container);
  }

  @media (max-width: 600px) {
    flex-direction: column;

    &> div {
      flex: auto;
    }
  }

  .hhri-icon {
    margin-inline-start: 16px;
    font-size: 56px;
    font-weight: bold;
  }
  h3 {
    white-space: normal;
    color: var(--md-sys-color-on-tertiary-container);
    font-family: var(--md-sys-typescale-emphasized-title-medium-font);
    font-size: var(--md-sys-typescale-emphasized-title-medium-size);
    line-height: var(--md-sys-typescale-emphasized-title-medium-line-height);
    font-weight: var(--md-sys-typescale-emphasized-title-medium-weight);
    letter-spacing: var(--md-sys-typescale-emphasized-title-medium-tracking);
  }
  .micl-card__content {
    color: var(--md-sys-color-on-tertiary-container);
  }
}
