/**
 * The container that different publications for a manual.
 */
.hhri-manual-publications {
  display: flex;

  @media (max-width: 600px) {
    flex-direction: column;
  }

  &> div {
    flex: 1;
    background-color: var(--md-sys-color-tertiary-container);
  }
  .hhri-icon {
    margin-inline-start: 16px;
    font-size: 56px;
    font-weight: bold;
  }
  h3 {
    white-space: normal;
    color: var(--md-sys-color-on-tertiary-container);
    font-family: var(--md-sys-typescale-emphasized-title-medium-font);
    font-size: var(--md-sys-typescale-emphasized-title-medium-size);
    line-height: var(--md-sys-typescale-emphasized-title-medium-line-height);
    font-weight: var(--md-sys-typescale-emphasized-title-medium-weight);
    letter-spacing: var(--md-sys-typescale-emphasized-title-medium-tracking);
  }
  .micl-card__content {
    color: var(--md-sys-color-on-tertiary-container);
  }
}

ul:has(img) {
  display: flex;
  flex-flow: row;
  column-gap: 24px;
  margin-block: 24px;
  padding: 0;
  list-style: none;

  > li:has(img) {
    flex: 3;

    img {
      max-inline-size: 100%;
    }
  }
  > li:not(:has(img)) {
    flex: 2;
    padding-block-start: 24px;
  }
}
