header:not(.micl-appbar) {
  display: flex;
  align-items: center;
  min-block-size: 240px;
  column-gap: 16px;
  color: var(--md-sys-color-on-surface);

  @media (max-width: 600px) {
    flex-direction: column;
  }

  .hhri-icon {
    font-size: 128px;
  }
  h1 {
    margin-block: 0 16px;
  }
}

.hhri-theme-sections {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-block-start: 24px;
  background-color: inherit;
}
.hhri-theme-section {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: var(--md-sys-layout-window-margin);
  border-radius: var(--md-sys-shape-corner-medium);
  background-color: var(--md-sys-color-secondary-fixed-dim);
  color: var(--md-sys-color-on-secondary-fixed);

  > h2 {
    margin-block: 0;
  }
  > p {
    margin-block: 0 16px;
  }
}

.hhri-theme-item {
  --statelayer-color: var(--md-sys-color-on-secondary-container);
  --md-sys-divider-space: 16px;
  --md-sys-divider-color: var(--md-sys-color-secondary-fixed-dim);
  flex: 1;
  max-inline-size: 100%;
  min-inline-size: min(300px, 100%);
  background-color: var(--md-sys-color-secondary-container);

  summary {
    padding-block-start: var(--md-sys-card-content-padding-block);
  
    .micl-heading {
      white-space: normal;
      color: var(--md-sys-color-on-secondary-container);
      font-family: var(--md-sys-typescale-emphasized-title-medium-font);
      font-size: var(--md-sys-typescale-emphasized-title-medium-size);
      line-height: var(--md-sys-typescale-emphasized-title-medium-line-height);
      font-weight: var(--md-sys-typescale-emphasized-title-medium-weight);
      letter-spacing: var(--md-sys-typescale-emphasized-title-medium-tracking);
    }
    .micl-card__supporting-text {
      color: var(--md-sys-color-on-secondary-container);
    }
  }
  p {
    margin: 0;
  }
  .micl-card__content {
    color: var(--md-sys-color-on-secondary-container);
  }
  .micl-button-text-s {
    margin-inline-start: -12px;
    text-decoration: none;
  }
}
