.micl-card__headline-s .micl-heading {
  white-space: normal;
  color: var(--md-sys-color-on-secondary-container);
  font-family: var(--md-sys-typescale-emphasized-title-medium-font);
  font-size: var(--md-sys-typescale-emphasized-title-medium-size);
  line-height: var(--md-sys-typescale-emphasized-title-medium-line-height);
  font-weight: var(--md-sys-typescale-emphasized-title-medium-weight);
  letter-spacing: var(--md-sys-typescale-emphasized-title-medium-tracking);
}
.micl-card__content {
  padding-block: 0;
  color: var(--md-sys-color-on-secondary-container);
}

h1 {
  margin-block: 0 16px;
}
h2 {
  margin-block: 0;
}
header:not(.micl-appbar) {
  display: flex;
  align-items: center;
  min-block-size: 240px;
  column-gap: 16px;
  color: var(--md-sys-color-on-surface);

  @media (max-width: 600px) {
    flex-direction: column;
  }

  .hhri-icon {
    font-size: 128px;
  }
}

.hhri-theme-sections {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-block-start: 24px;
  background-color: inherit;
}
.hhri-theme-section {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: var(--md-sys-layout-window-margin);
  border-radius: 12px;
  background-color: var(--md-sys-color-secondary-fixed-dim);
  color: var(--md-sys-color-on-secondary-fixed);

  > p {
    margin-block: 0 16px;
  }
}
.hhri-theme-item {
  --statelayer-color: var(--md-sys-color-on-secondary-container);
  --md-sys-divider-space: 8px;
  --md-sys-divider-color: var(--md-sys-color-secondary-fixed-dim);
  inline-size: var(--hhri-card-width);
  background-color: var(--md-sys-color-secondary-container);
}
.hhri-theme-item summary {
  padding-block-start: 16px;
}
.hhri-theme-item .micl-button-text-s {
  margin-inline-start: -12px;
  text-decoration: none;
}
.micl-list-item__image.hhri-icon {
  font-size: 56px;
  font-weight: bold;
}
