@font-face {
  font-family: 'hhri';
  src: url('hhri.ttf?4cg1h6') format('truetype'), url('hhri.woff?4cg1h6') format('woff'), url('hhri.svg?4cg1h6#hhri') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.hhri-icon {
  font-family: 'hhri';
  font-size: 56px;
  color: var(--md-sys-color-on-surface);
}

.micl-window {
  max-inline-size: 1600px;
  margin-inline: auto;
}

footer {
  display: flex;
  column-gap: 96px;
  padding-block: 48px 24px;
}
footer > div:last-of-type {
  min-inline-size: 40%;
}
footer p {
  margin: 0;
}
footer .hhri-icon {
  font-size: 32px;
  color: var(--md-sys-color-primary);
}
