@font-face {
  font-family: 'hhri';
  src: url('hhri.ttf?4cg1h6') format('truetype'), url('hhri.woff?4cg1h6') format('woff'), url('hhri.svg?4cg1h6#hhri') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.micl-window {
  max-inline-size: 1600px;
  margin-inline: auto;
}

.hhri-icon {
  font-family: 'hhri';
  font-size: 56px;
  color: var(--md-sys-color-on-surface);
}

a {
  text-decoration: none;
}
