@font-face {
  font-family: 'hhri';
  src: url('hhri.ttf?4cg1h6') format('truetype'), url('hhri.woff?4cg1h6') format('woff'), url('hhri.svg?4cg1h6#hhri') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.hhri-icon {
  font-family: 'hhri';
}

.micl-window {
  --hhri-card-width: calc((1600px - var(--md-sys-layout-pane-spacer) - (2 * var(--md-sys-layout-window-margin)) - (4 * var(--md-sys-card-margin, 0px))) / 5);
  max-inline-size: 1600px;
  margin-inline: auto;
}
.micl-pane:last-of-type {
  min-inline-size: var(--hhri-card-width);
}

.micl-navigationrail .micl-button-text-s {
  margin-block: 4px;
}
.micl-navigationrail .micl-button__icon.hhri-icon {
  font-weight: bold;
}

.hhri-onpage {
  position: fixed;
  display: flex;
  box-sizing: border-box;
  flex-flow: column;
  inline-size: var(--hhri-card-width);
  row-gap: 24px;
  margin-top: 48px;
  padding: 32px 16px;
  border-radius: 12px;
  background-color: var(--md-sys-color-tertiary-container);
  color: var(--md-sys-color-on-tertiary-container);
}
.hhri-onpage p {
  margin: 0;
}
.hhri-onpage a:not(:hover) {
  text-decoration: none;
}

footer {
  display: flex;
  flex-flow: row;
  column-gap: 96px;
  padding-block: 48px 24px;
  color: var(--md-sys-color-on-surface);

  @media (max-width: 599px) {
    flex-flow: column;
  }
}
footer p {
  margin: 0;
  margin-inline-start: 12px;
}
footer > div:first-of-type {
  margin-block-end: 24px;
}
footer > div:last-of-type {
  min-inline-size: 40%;
}
footer .hhri-socials {
  display: flex;
}
footer .hhri-socials a {
  align-content: center;
  font-family: 'hhri';
  font-size: 32px;
  text-decoration: none;
  text-align: center;
}
