.micl-pane {
  row-gap: 24px;
}
.micl-card__headline-s .micl-heading {
  white-space: normal;
  color: var(--md-sys-color-on-secondary-container);
}
.micl-card__content {
  padding-block: 0;
  color: var(--md-sys-color-on-secondary-container);
}

h1 {
  margin-block: 0 16px;
}
h2 {
  margin-block: 0 8px;
}
.micl-pane > header {
  display: flex;
  align-items: center;
  min-block-size: 240px;
  column-gap: 16px;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}
.micl-pane > header > .hhri-icon {
  font-size: 128px;
}

.hhri-theme-sections {
  display: flex;
  flex-wrap: wrap;
  border-radius: 12px;
  padding: 24px;
  background-color: var(--md-sys-color-secondary-fixed-dim);
}
.hhri-theme-sections > header {
  padding-bottom: 16px;
  color: var(--md-sys-color-on-secondary-fixed);
}
.hhri-theme-section {
  --md-sys-divider-space: 8px;
  padding-block-start: 16px;
  inline-size: calc((1600px - (2 * 24px) - (3 * 8px)) / 4);
  background-color: var(--md-sys-color-secondary-container);
}
.hhri-theme-section .micl-button-text-s {
  margin-block-end: 6px;
  margin-inline-start: -12px;
}
