---
layout: common
---

<section class="micl-pane">
  <header class="micl-appbar">
    <button type="button" class="micl-appbar__leading-icon micl-iconbutton-standard-s material-symbols-outlined" command="show-modal" commandfor="hhrimenu" aria-label="{{ site.data.locales[page.lang].nav_openmenu }}">menu</button>
    <form action="{{ '/search/' | relative_url }}" method="get" class="micl-textfield-filled micl-search">
      <span class="micl-textfield__icon-leading material-symbols-outlined">search</span>
      <input type="text" name="q" placeholder="Search library">
      <span class="micl-textfield__icon-trailing"></span>
    </form>
    <div style="width:40px"></div>
  </header>
  <header>
    <div class="hhri-icon">{{ page.icon }}</div>
    <div>
      <h1 class="md-sys-typescale-display-large">{{ page.title }}</h1>
      <span class="md-sys-typescale-headline-small">{{ page.subtitle }}</span>
    </div>
  </header>

  <div class="hhri-basic md-sys-typescale-body-large">
    {{ content }}
  </div>
</section>
