<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <title>MHHRI | {{ page.title }}</title>
    <meta name="description" content="{{ page.title }}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <link rel="alternate" hreflang="en" href="https://henkpb.github.io/hhri/">
    <link rel="alternate" hreflang="es" href="https://henkpb.github.io/hhri/es">
    <link rel="alternate" hreflang="x-default" href="https://henkpb.github.io/hhri">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&amp;display=swap">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/micl.css">
    <link rel="stylesheet" href="css/home.css">
  </head>
  <body class="micl-window dark">
    <main class="micl-body">
      <section class="micl-pane">
        <header>
          <div>
            <p class="md-sys-typescale-display-medium">{{ page.title }}<p>
            <p class="md-sys-typescale-headline-medium">{{ page.subtitle1 }}</p>
            <p class="md-sys-typescale-headline-medium">{{ page.subtitle2 }}</p>
          </div>
          <img src="{{ page.logo | relative_url }}" alt="{{ page.title }}">
        </header>
        <div class="micl-pane__columns">
          <div class="micl-pane__column">
            {{ content }}
          </div>
          <div class="micl-pane__column">
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
