<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <title>MHHRI | {{ page.title }}</title>
    <meta name="description" content="{{ page.title }}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <link rel="alternate" hreflang="en" href="https://henkpb.github.io/hhri/">
    <link rel="alternate" hreflang="es" href="https://henkpb.github.io/hhri/es">
    <link rel="alternate" hreflang="x-default" href="https://henkpb.github.io/hhri">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL@0..1&amp;icon_names=article_shortcut,menu,menu_open&amp;display=block">
    <link rel="stylesheet" href="{{ '/assets/css/theme.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/micl.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/hhri.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/page.css' | relative_url }}">
  </head>
  <body class="micl-window dark">

    <dialog id="hhrinavigation" class="micl-navigationrail" closedby="closerequest">
      <div class="micl-navigationrail__headline">
        <button type="button" class="micl-iconbutton-standard-s micl-button--toggle material-symbols-outlined" command="close" commandfor="hhrinavigation" data-miclalt="menu_open">menu</button>
      </div>
      <div class="micl-navigationrail__content">
        <button type="button" command="close" commandfor="hhrinavigation" onclick="window.location.href='www.nrk.no'" class="micl-button-text-s">
          <span class="micl-navigationrail__icon material-symbols-outlined" aria-hidden="true">favorite</span>
          <span class="micl-navigationrail__text">Click me</span>
        </button>
      </div>
    </dialog>

    {% assign path_nodes = page.paths | split: ',' %}
    <main class="micl-body">
      <section class="micl-pane">
        <header>
          <button type="button" class="micl-iconbutton-standard-s micl-button--toggle material-symbols-outlined" command="show-popover" commandfor="hhrinavigation">menu</button>
          <div class="hhri-icon">{{ page.icon }}</div>
          <div>
            <h1 class="md-sys-typescale-display-large">{{ page.title }}</h1>
            <span class="md-sys-typescale-headline-small">{{ page.subtitle }}</span>
          </div>
        </header>

        {% for path_node in path_nodes %}
          {% assign section = path_node | remove: '/' %}
          {% assign section_title = section | append: '_title' %}
          {% assign section_text = section | append: '_text' %}
          <div id="section{{ forloop.index}}" class="hhri-theme-sections">
            <header>
              <h2 class="md-sys-typescale-headline-large">{{ page[section_title] }}</h2>
              <span class="md-sys-typescale-body-large">{{ page[section_text] }}</span>
            </header>
            
            {% for item in site.theme_gbv %}
              {% if item.path contains path_node %}
                {% if item.title %}
                  <details class="micl-card-filled hhri-theme-section" tabindex="0">
                    <summary>
                      <span class="micl-card__headline-s">
                        <span class="micl-heading md-sys-typescale-emphasized-headline-small">{{ item.title }}</span>
                      </span>
                      {% if item.year or item.organization %}
                        <span class="micl-card__supporting-text">
                          {{ item.year }}
                          {% if item.year and item.organization %} | {% endif %}
                          {{ item.organization }}
                        </span>
                      {% endif %}
                    </summary>
                    <div class="micl-card__content md-sys-typescale-body-medium">
                      {{ item.content }}
                      {% if item.link %}
                        <hr class="micl-divider">
                        <a href="{{ item.link }}" class="micl-button-text-s" target="_blank">View Source</a>
                      {% endif %}
                    </div>
                  </details>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}

      </section>
      <section class="micl-pane micl-pane--hidden-to-expanded">
        <div class="hhri-onpage" class="md-sys-typescale-body-large">
          <p class="md-sys-typescale-title-large">On this page</p>

          {% for path_node in path_nodes %}
            {% assign section = path_node | remove: '/' %}
            {% assign section_title = section | append: '_title' %}
            <a href="#section{{ forloop.index }}" class="md-sys-typescale-body-large">{{ page[section_title] }}</a>
          {% endfor %}
        </div>
      </section>
    </main>

    <footer class="md-sys-typescale-body-medium">
      <div>
        <span>{{ site.data.footer.about_text }}</span>
      </div>
      <div>
        <p>{{ site.data.footer.social_text }}</p>
        <div class="hhri-socials">
          {% for social in site.data.footer.social_links %}
            <a href="{{ social.link }}" target="_blank" class="micl-iconbutton-standard-m" aria-label="{{ social.name }}">{{ social.icon }}</a>
          {% endfor %}
        </div>
      </div>
    </footer>
  </body>
</html>
