---
layout: default
---

{% assign sections = page.sections | split: ',' %}
<section class="micl-pane">
  <header class="micl-appbar">
    <button type="button" class="micl-appbar__leading-icon micl-iconbutton-standard-s material-symbols-outlined" command="show-modal" commandfor="hhrimenu">menu</button>
  </header>
  <header>
    <div class="hhri-icon">{{ page.icon }}</div>
    <div>
      <h1 class="md-sys-typescale-display-large">{{ page.title }}</h1>
      <span class="md-sys-typescale-headline-small">{{ page.subtitle }}</span>
    </div>
  </header>

  <div class="hhri-theme-sections">
    {% for section in sections %}
      {% assign section_title = section | strip | append: '_title' %}
      {% assign section_text = section | strip | append: '_text' %}
      <div id="section{{ forloop.index}}" class="hhri-theme-section">
        <h2 class="md-sys-typescale-headline-large">{{ page[section_title] }}</h2>
        <p class="md-sys-typescale-body-large">{{ page[section_text] }}</p>
        
        {% for item in site[page.collection] %}
          {% assign path_node = section | strip | prepend: '/' | append: '/' %}
          {% if item.path contains path_node %}
            {% if item.title %}
              <details class="micl-card-filled hhri-theme-item" tabindex="0">
                <summary>
                  <span class="micl-card__headline-s">
                    <span class="micl-heading md-sys-typescale-emphasized-headline-small">{{ item.title }}</span>
                  </span>
                  {% if item.year or item.organization %}
                    <span class="micl-card__supporting-text">
                      {{ item.year }}
                      {% if item.year and item.organization %} | {% endif %}
                      {{ item.organization }}
                    </span>
                  {% endif %}
                </summary>
                <div class="micl-card__content md-sys-typescale-body-medium">
                  {{ item.content }}
                  {% if item.link %}
                    <hr class="micl-divider">
                    <a href="{{ item.link }}" class="micl-button-text-s" target="_blank">View Source</a>
                  {% endif %}
                </div>
              </details>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</section>

<section class="micl-pane micl-pane--hidden-to-expanded">
  <div class="hhri-onpage md-sys-typescale-body-large">
    <p class="md-sys-typescale-title-large">On this page</p>

    {% for section in sections %}
      {% assign section_title = section | strip | append: '_title' %}
      <a href="#section{{ forloop.index }}">{{ page[section_title] }}</a>
    {% endfor %}
  </div>
</section>
